Our aim in this notebook is to solve the binary classification problem regarding the two customer segmentation.

First we load out dataset, begin to inspect, look for missing values, impute, etc.

In [57]:
import pandas as pd

df = pd.read_csv("output.csv")

In [58]:
# View the first few rows of the DataFrame
print(df.head())

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  2174        1954  Graduation         Single  46344.0        1         1
1  4141        1965  Graduation   Relationship  71613.0        0         0
2  6182        1984  Graduation   Relationship  26646.0        1         0
3  5324        1981         PhD   Relationship  58293.0        1         0
4  7446        1967      Master   Relationship  62513.0        0         1

   Recency  MntWines  MntFruits  ...  MntGoldProds  NumDealsPurchases  \
0       38        11          1  ...             6                  2
1       26       426         49  ...            42                  1
2       26        11          4  ...             5                  2
3       94       173         43  ...            15                  5
4       16       520         42  ...            14                  2

   NumWebPurchases  NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth  \
0                1                    1                  2                  5
1                8                    2                 10                  4
2                2                    0                  4                  6
3                5                    3                  6                  5
4                6                    4                 10                  6

   year  month  day  Segment
0  2014      3    8        0
1  2013      8   21        1
2  2014      2   10        0
3  2014      1   19        1
4  2013      9    9        1

[5 rows x 23 columns]

In [59]:
# View the last few rows of the DataFrame
print(df.tail())

        ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
1692  8372        1974  Graduation   Relationship  34421.0        1         0
1693  4001        1946         PhD   Relationship  64014.0        2         1
1694  7270        1981  Graduation         Single  56981.0        0         0
1695  8235        1956      Master   Relationship  69245.0        0         1
1696  9405        1954         PhD   Relationship  52869.0        1         1

      Recency  MntWines  MntFruits  ...  MntGoldProds  NumDealsPurchases  \
1692       81         3          3  ...             9                  1
1693       56       406          0  ...             8                  7
1694       91       908         48  ...            24                  1
1695        8       428         30  ...            61                  2
1696       40        84          3  ...            21                  3

      NumWebPurchases  NumCatalogPurchases  NumStorePurchases  \
1692                1                    0                  2
1693                8                    2                  5
1694                2                    3                 13
1695                6                    5                 10
1696                3                    1                  4

      NumWebVisitsMonth  year  month  day  Segment
1692                  7  2013      7    1        0
1693                  7  2014      6   10        0
1694                  6  2014      1   25        1
1695                  3  2014      1   24        1
1696                  7  2012     10   15        0

[5 rows x 23 columns]

In [60]:
# Get a concise summary of the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1697 non-null   int64
 1   Year_Birth           1697 non-null   int64
 2   Education            1697 non-null   object
 3   Marital_Status       1697 non-null   object
 4   Income               1697 non-null   float64
 5   Kidhome              1697 non-null   int64
 6   Teenhome             1697 non-null   int64
 7   Recency              1697 non-null   int64
 8   MntWines             1697 non-null   int64
 9   MntFruits            1697 non-null   int64
 10  MntMeatProducts      1697 non-null   int64
 11  MntFishProducts      1697 non-null   int64
 12  MntSweetProducts     1697 non-null   int64
 13  MntGoldProds         1697 non-null   int64
 14  NumDealsPurchases    1697 non-null   int64
 15  NumWebPurchases      1697 non-null   int64
 16  NumCatalogPurchases  1697 non-null   int64
 17  NumStorePurchases    1697 non-null   int64
 18  NumWebVisitsMonth    1697 non-null   int64
 19  year                 1697 non-null   int64
 20  month                1697 non-null   int64
 21  day                  1697 non-null   int64
 22  Segment              1697 non-null   int64
dtypes: float64(1), int64(20), object(2)
memory usage: 305.1+ KB
None

In [61]:

# Generate descriptive statistics
print(df.describe())

                 ID   Year_Birth        Income      Kidhome     Teenhome  \
count   1697.000000  1697.000000   1697.000000  1697.000000  1697.000000
mean    5591.355333  1969.185622  45632.246774     0.542722     0.552740
std     3262.119168    11.455372  18078.500559     0.548987     0.544878
min        1.000000  1940.000000   3502.000000     0.000000     0.000000
25%     2802.000000  1960.000000  31761.000000     0.000000     0.000000
50%     5510.000000  1971.000000  44375.000000     1.000000     1.000000
75%     8418.000000  1977.000000  58692.000000     1.000000     1.000000
max    11191.000000  1996.000000  95169.000000     2.000000     2.000000

           Recency     MntWines    MntFruits  MntMeatProducts  \
count  1697.000000  1697.000000  1697.000000      1697.000000
mean     48.964643   226.369476    12.780200        90.054213
std      28.944949   300.259309    18.867291       127.433360
min       0.000000     0.000000     0.000000         0.000000
25%      24.000000    15.000000     1.000000        12.000000
50%      49.000000    76.000000     5.000000        32.000000
75%      74.000000   351.000000    16.000000       109.000000
max      99.000000  1449.000000    93.000000       654.000000

       MntFishProducts  ...  MntGoldProds  NumDealsPurchases  NumWebPurchases  \
count      1697.000000  ...   1697.000000        1697.000000      1697.000000
mean         19.099588  ...     28.190925           2.309959         3.580436
std          28.681606  ...     31.274803           1.498616         2.516604
min           0.000000  ...      0.000000           0.000000         0.000000
25%           2.000000  ...      6.000000           1.000000         2.000000
50%           7.000000  ...     16.000000           2.000000         3.000000
75%          21.000000  ...     38.000000           3.000000         5.000000
max         142.000000  ...    149.000000           7.000000        11.000000

       NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth         year  \
count          1697.000000        1697.000000        1697.000000  1697.000000
mean              1.798468           5.073659           5.784915  2013.067177
std               2.207550           2.934605           2.065053     0.678312
min               0.000000           0.000000           0.000000  2012.000000
25%               0.000000           3.000000           4.000000  2013.000000
50%               1.000000           4.000000           6.000000  2013.000000
75%               3.000000           7.000000           7.000000  2014.000000
max              11.000000          13.000000          14.000000  2014.000000

             month          day      Segment
count  1697.000000  1697.000000  1697.000000
mean      6.449028    15.741308     0.323512
std       3.469361     8.764928     0.467954
min       1.000000     1.000000     0.000000
25%       3.000000     8.000000     0.000000
50%       6.000000    16.000000     0.000000
75%      10.000000    23.000000     1.000000
max      12.000000    31.000000     1.000000

[8 rows x 21 columns]

In [62]:
# Get the dimensions of the DataFrame
print(df.shape)

(1697, 23)

In [63]:
# Check for missing values in the DataFrame
missing_values = df.isnull().sum()

# Check for cells containing the digit 0
zeros_cells = (df == 0).sum()

# Print the result for missing values
print("Missing values:")
print(missing_values)

# Print the result for cells containing the digit 0
print("\nCells containing the digit 0:")
print(zeros_cells)

#drop ID Column

df = df.drop('ID', axis = 1)

Missing values:
ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
year                   0
month                  0
day                    0
Segment                0
dtype: int64

Cells containing the digit 0:
ID                        0
Year_Birth                0
Education                 0
Marital_Status            0
Income                    0
Kidhome                 821
Teenhome                801
Recency                  22
MntWines                 13
MntFruits               360
MntMeatProducts           1
MntFishProducts         353
MntSweetProducts        377
MntGoldProds             52
NumDealsPurchases         6
NumWebPurchases          37
NumCatalogPurchases     572
NumStorePurchases         3
NumWebVisitsMonth         1
year                      0
month                     0
day                       0
Segment                1148
dtype: int64

In [64]:
# Impute numerical columns with mean
numerical_cols = df.select_dtypes(include='number').columns
df[numerical_cols] = df[numerical_cols].fillna(df[numerical_cols].mean())

# Impute non-numerical columns with mode
non_numerical_cols = df.select_dtypes(exclude='number').columns
for col in non_numerical_cols:
    mode_val = df[col].mode()[0]  # Get the mode value for the column
    df[col] = df[col].fillna(mode_val)

# Verify that there are no missing values left
print("Remaining missing values after imputation:")
print(df.isnull().sum())

Remaining missing values after imputation:
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
year                   0
month                  0
day                    0
Segment                0
dtype: int64

In [65]:
# One-hot encode non-numerical columns
# df = pd.get_dummies(df, columns=['Education', 'Marital_Status'])
categorical_columns = df.select_dtypes(include=['object']).columns

df= pd.get_dummies(df, columns=categorical_columns, drop_first=True)




# Display the updated DataFrame
print(df.head())

   Year_Birth   Income  Kidhome  Teenhome  Recency  MntWines  MntFruits  \
0        1954  46344.0        1         1       38        11          1
1        1965  71613.0        0         0       26       426         49
2        1984  26646.0        1         0       26        11          4
3        1981  58293.0        1         0       94       173         43
4        1967  62513.0        0         1       16       520         42

   MntMeatProducts  MntFishProducts  MntSweetProducts  ...  NumStorePurchases  \
0                6                2                 1  ...                  2
1              127              111                21  ...                 10
2               20               10                 3  ...                  4
3              118               46                27  ...                  6
4               98                0                42  ...                 10

   NumWebVisitsMonth  year  month  day  Segment  Education_Graduation  \
0                  5  2014      3    8        0                  True
1                  4  2013      8   21        1                  True
2                  6  2014      2   10        0                  True
3                  5  2014      1   19        1                 False
4                  6  2013      9    9        1                 False

   Education_Master  Education_PhD  Marital_Status_Single
0             False          False                   True
1             False          False                  False
2             False          False                  False
3             False           True                  False
4              True          False                  False

[5 rows x 24 columns]

In [66]:
# Data Processing
import pandas as pd
import numpy as np

# Modelling
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint

# Tree Visualisation
from sklearn.tree import export_graphviz
from IPython.display import Image
import graphviz

In [67]:
X = df.drop('Segment', axis=1)
y = df['Segment']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [68]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

y_pred = rf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9970588235294118

In [69]:
# Export the first three decision trees from the forest

# for i in range(3):
#     tree = rf.estimators_[i]
#     dot_data = export_graphviz(tree,
#                                feature_names=X_train.columns,  
#                                filled=True,  
#                                max_depth=2, 
#                                impurity=False, 
#                                proportion=True)
#     graph = graphviz.Source(dot_data)
#     display(graph)

In [70]:
import joblib

# Save the model to a file
joblib.dump(rf, r"Model.joblib")

['Model.joblib']